.textAreaDiv {
	width: 98%;
	height: 100vh;
	border: 0.1px solid rgba(0, 0, 0, 0.16);
	margin-top: 135px;
	margin-left: 1%;
	margin-right: 1%;


	background-color: #f9fbfd;
   display: flex;

	justify-content: center;
	margin-top: 120px;

	--ruler-unit: 1px;
	--ruler-x: 1;
	--ruler-y: 1;

	--ruler1-bdw: 1px;
	--ruler1-c: #7a6d6d93;
	--ruler1-h: 12px;
	--ruler1-space: 5;

	--ruler2-bdw: 1px;
	--ruler2-c: #7a6d6d93;
	--ruler2-h: 24px;
	--ruler2-space: 50;

	background-attachment: relative;
	background-image:
		linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
		linear-gradient(0deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
	background-position: 0 0;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size:
		calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-x)) var(--ruler1-h),
		calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-x)) var(--ruler2-h),
		var(--ruler1-h) calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-y)),
		var(--ruler2-h) calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-y));










}

.textArea {
	border: 1px solid rgba(0, 0, 0, 0.345);
	text-align: left;
	width: 55%;
	margin-top: 40px;
	height: 92%;
	padding: 105px;
	outline: none;


}